  /* Comentario */

  .ComentarioTodo {
    height: 120px;
    display: flex;
    flex-direction: row-reverse;
    margin-left: 6%;
  }

  .FormTodo {
    display: flex;
    flex-direction: row;
  }

  .InputComentario {
    color: #FFFFFF;
    height: 20px;
    background-color: #4B626C;
    border: none;
    border-radius: 8%;
    margin-top: 0px;
  }

  .BotãoComentario {
    display: none;
    height: 21px;
    width: 43px;
    border: none;
    border-radius: 10%;
    background-color: #97A4A2;
  }