@charset "UTF-8";

@media screen and (min-width: 813px) {

    #menu {
        display:none;
    }

    #opcoes.menuTodo {
        width: 100%;
        height: 60px;
        justify-content: space-between;
        display: flex;
        flex-direction: row;
        align-items: center;
        top: 0;
        position:relative;
        background-color: #eee;
    }

 
    .botõesPrincipais {
        color: rgb(106, 122, 120);
        width: 16%;
        font-size: 100%;
        height: 100%;
        border: none;
        border-right: 1px solid gray;
        margin: 1%;
        background-color: #eee;
    }
      
      a {
        color: rgb(106, 122, 120);
        text-decoration: none;
        border-right: none;
      }

    .buscar {
        width: 70%;
        margin: 1%;
        border-radius: 20%;
        background-color: gray;
        margin-left: 11%;
        margin-bottom: 0;

    }

    .box {
        height: 100%;
        display:contents;
        flex-direction: column;
        justify-content: center;
    }

    .botãoCompra {
      margin-left: 80%;
      margin-right: 10%;
      background: none;
      border: none;
    }

    .ImgCompra {
      width: 48px;
    }

    .todoRodape {
      font-size: 15px;
      border-top:  2px solid rgb(20, 19, 19);
      bottom: 0;
      width: 100%;
      height: 200px;
      background-color: #97A4A2;
    }

    .lançamentos {
      margin-top: 20px;
      width: 100%;
      height: 30vw;
      background-color: gray;
      min-height: 180px;
    }
    
    .textoLançamentos {
      color: #eee;
      padding-top: 2%;
      margin-left: 3%;
      font-size: 16px;
    }
    
    .jogosLançamentos {
      margin-left: 0px;
      width: 100%;
      height: 60%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      justify-items: center;
      
    }
    
    .imagemJogo {
      width: 15%;
      position: relative;
      margin-left: 0px;
    }
    
    #img-1 {
      display: flex;
      width: 100%;
      height: 100%;
    }
    
    #img-2 {
      display: flex;
      width: 100%;
      height: 100%;
    }
    
    #img-3 {
      display: flex;
      width: 100%;
      height: 100%;
    }
    
    #img-4 {
      display: flex;
      width: 100%;
      height: 100%;
    }
    
    #img-5 {
      display: flex;
      width: 100%;
      height: 100%;
    }

    .carrosselTudo {
      overflow: hidden;
      height: 100%;
      width: 100%;
    }
    
    .carrossel {
      display: flex;
      transition: 0.7s ease-in-out;
      transform: translateX(0);
      width: 100vw;
      height: 40vh;
      margin-top: 10%;
    }
  
    .imgc {
      flex-direction: row;
      display: flex;
      width: 200vh;
      min-width: 89%;
      height:190px;
      min-height:200px;
    }
}

