body {
    font-family: arial;
    background-color: rgba(251, 246, 240, 1);
    padding: 0%;
    margin: 0%;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
  }
  
  .barra {
    background-color: rgba(251, 246, 240, 1);
    top: 0;
    position:relative;
    width: 100%;
    height: 60px;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid gray;
    align-items: center;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  }
  
  
  .menuTodo {
    width: 100%;
    height: 400px;
    justify-content: space-between;
    display: none;
    flex-direction: column;
    align-items: center;
    top: 62px;
    position:absolute;
    background-color: #4B626C;
  }
  
  #menu {
    background-color: rgb(46, 53, 52);
    color: rgb(106, 122, 120);
    display: block;
    text-align: center;
    padding: 18px;
    right: 0;
    position: absolute;
  }
  
  #menu:hover {
    background-color: #eee;
    color: black;
  }
  
  .logo {
    width: 70px;
    height: 60px;
    margin: 1%;
  }

  .Divisão {
    display: none;
  }

  .botõesPrincipais {
    color: #eee;
    width: 30%;
    font-size: 100%;
    height: 100%;
    border: none;
    border-bottom: 2px solid #eee;
    margin: 1%;
    background-color:  #4B626C;
  }
  
  a {
    text-decoration: none;
    border-right: none;
    color: #eee;
  }
  
  .buscar {
    width: 70%;
    margin: 1%;
    border-radius: 20%;
    border-color: gray;
    background-color: rgba(151, 164, 162, 0.45);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-left: 11% ;
    margin-bottom: 20px;
  }
  
  .buscarButton {
    margin-left: -25%;
    border: none;
    background: none;
  }
  
  .buscarimg {
    width: 50%;
    height: 50%;
  
  }
  
  .box {
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .janela {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 40vw;
  }

  .carrosselTudo {
    overflow: hidden;
    height: 40vh;
    width: 100%;
  }
  
  .carrossel {
    display: flex;
    transition: 0.7s ease-in-out;
    transform: translateX(0);
    width: 100vw;
    height: 40vh;
  }

  .imgc {
    flex-direction: row;
    display: flex;
    width: 200vh;
    min-width: 85%;
    height:190px;
    min-height:200px;
  }
  
  .carrosselButton {
    font-weight:bold;
    background: none;
    border: none;
    color: rgb(106, 122, 120);
    font-size: 30px;
    line-height: 27px;
    height: 25vh;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 0px;
  }

  .carrosselButton2 {
    font-weight:bold;
    background: none;
    border: none;
    color: rgb(106, 122, 120);
    font-size: 30px;
    line-height: 27px;
    margin-left: 1%;
    margin-right: 1%;
  }

  #Carrossel2Img {
    overflow: hidden;
    width: 100%;
  }

  .CarrosselDividido {
    display: flex;
    transition: 0.7s ease-in-out;
    transform: translateX(0);
    display: flex;
    gap: 50px;
    width: 2900px;
  }

  .lançamentos {
    margin-top: 0px;
    width: 100%;
    height: 40vw;
    background-color:rgba(75, 98, 108, 1);
    min-height: 310px;
  }
  
  .textoLançamentos {
    color: #eee;
    padding-top: 2%;
    margin-left: 3%;
    font-size: 16px;
  }
  
  .jogosLançamentos {
    margin-left: 5%;
    margin-right: 2%;
    width: 90%;
    height: 60%;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    justify-items: center;
    background-color:rgba(75, 98, 108, 1);
  }
  
  .imagemJogo {
    width: 15%;
    position: relative;
    margin-left: 0px;
  }
  
  #img-1 {
    width: 100%;
    height: 100%;
  }
  
  #img-2 {
    width: 100%;
    height: 100%;
  }
  
  #img-3 {
    width: 100%;
    height: 100%;
  }
  
  #img-4 {
    width: 100%;
    height: 100%;
  }
  
  #img-5 {
    width: 100%;
    height: 100%;
  }
  
  .botãoCompra {
    margin-left: 80%;
    margin-right: 10%;
    background: none;
    border: none;
  }

  .ImgCompra {
    width: 70%;
    max-width: 68px;
  }

  
  .todoRodape {
    font-size: 10px;
    border-top:  2px solid rgb(20, 19, 19);
    bottom: 0;
    width: 100%;
    height: 200px;
    background-color: #97A4A2;
  }
  
  .rodape {
    width: 100%;
    height: 100%;
    background-color: #97A4A2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .logoRodape {
    width: 120px;
    height: 150px;
    margin-top: 15%;
    margin-left: 5%;
  }
  
  .loja {
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .textoLoja {
    color: #eee;
    margin-top: 18%;
    display: none;
    font-size: 15px;
    flex-direction: column;
    text-align: center;
    font-weight: bold;
  }
  
  .textoLoja2 {
    font-size: 10px;
    font-weight: normal;
  }
  
  .link {
    
    margin-top: 15px;
    margin-bottom: 15px;
    display: none;
    font-size: 13px;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
  }

  
  .linkText {
    text-decoration: none;
    color: #eee;
  }
  
  .todoContato {
    margin-right: 7%;
    color: #eee;
    width: 50%;
    margin-top: 4%;
  }


  
  .todoContato > .contato > p {
    font-size: 15px;
  }

  .todoContato > h2 {
    display: none;
  }

  .contato {
    font-size: 10px;
    display: flex;
    flex-direction: row;
  }
  
  .logoContato {
    margin-right: 3px;
    width: 16px;
    height: 16px;
    margin-top: 8px;
  }
  
  
  .credito {
    display: flex;
    justify-content: center;
    margin-top: -17px;
    height: 20%;
    background: local;
    background-color: #97A4A2;
    color: #4B626C;
  }

