@charset "UTF-8";

@media screen and (min-width: 813px) {


    html {
        min-height: 100%;
        background-color: rgba(251, 248, 244, 1);
    }
    #menu {
        display:none;
    }

    #opcoes.menuTodo {
        width: 100%;
        height: 60px;
        justify-content: space-between;
        display: flex;
        flex-direction: row;
        align-items: center;
        top: 0;
        position:relative;
        background-color: #eee;
    }

 
    .botõesPrincipais {
        color: rgb(106, 122, 120);
        width: 16%;
        font-size: 100%;
        height: 100%;
        border: none;
        border-right: 1px solid gray;
        margin: 1%;
        background-color: #eee;
      }
      
      a {
        color: rgb(106, 122, 120);
        text-decoration: none;
        border-right: none;
      }

    .buscar {
        width: 70%;
        margin: 1%;
        border-radius: 20%;
        background-color: gray;
        margin-left: 11%;
        margin-bottom: 0;

      }

    .Tela {
        margin-top: 0px;
        display:flex;
        flex-direction: row;
        width: 100%;
        height: 100vh;
    }

    .TelaConta {
        
        margin-top: 0;
        display:flex;
        flex-direction: row;
        width: 100vw;
        height: 100vh;
        background-color: rgba(251, 248, 244, 1);
    }

    .TituloJogos {
        color:rgba(75, 98, 108, 1);
        display: none;
        margin-top: 10px;
        width: 0%;
        justify-content: center;
        font-size: 25px;
        height: 10%;
        background-color: rgba(251, 248, 244, 1);
    }


    .CapaConta {
        margin-top: -10%;
        background-image: url(./imgs/image\ 2.png);
        background-repeat: no-repeat;
        background-size:cover;
        display: flex;
        background-position:top;
        width: 100%;
        height: 130vh;
    }  


    .MeusJogos {
        background-image: url(./imgs/group\ 16.png);
        background-repeat: no-repeat;
        background-size:auto;
        display: flex;
        background-position: center;
        width: 100%;
        height: 100vh;
        position: relative;
        background-color: rgba(75, 98, 108, 1);
    }

    .FormularioTodo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        width: 70%;
        margin-top: 0;
    }

    .Formulario {
        margin-top: 0;
        display: flex;
        flex-direction: column;
        gap: 50px;
        align-items: center;
    }
    
    .InputForm {
        width: 80%;
        border: none;
        background-color: rgb(214, 210, 210);
        box-shadow: 2px 4px 4px 2px rgb(214, 155, 149);
        border-radius: 5%;
        color: rgb(106, 122, 120);
        font-size: 20px;
        padding: 1%;
    }
    

    .LoginTodo {
        display: none;
      
    }

    .LoginTodo2 {
        display: flex;
        flex-direction: column;
        transform: translate(0, 60%);
        
    }

    .LoginTodo2m {
        display: flex;
        flex-direction: column;
        transform: translate(0, 60%);
        margin-bottom: 0%;
    }

    .Login {
        width: 200px;
        display: flex;
        justify-content: space-between;
        margin-left: 10%;
        
    }
    
    .ContinuaTodo {
        display: none;
        
    }

    .ContinuaTodo2 {
        display: flex;
        justify-content: end;
        margin-right: 16%;
    }

    .ContinuaTodoR {
        display: none;
    }

    .BotãoCompra {
        background-image: url(./imgs/group\ 20.png);
        background-repeat: no-repeat;
        background-size:contain;
        width: 6%;
        height: 6%;
        display: flex;
        position: absolute;
        right: 10px;
        bottom: 20px;
    }

    .TextoJogo{
        color: rgb(106, 122, 120);
        padding-left: 4%;
        padding-right: 4%;
        font-size: 14px;
        text-align: center;
      }
    
      .CapaDoJogo1 {
        width: 1200px;
        
      }
    
      .CapaDoJogo2 {
        width: 1200px;
        
      }

      .CapaDoJogo3 {
        width: 890px;
        
      }
}