.BOX {
    overflow-y: hidden;
}

.Tela {
    margin-top: 0;
    display:flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: rgba(251, 248, 244, 1);
}

.TelaConta {
    margin-top: 0;
    display:flex;
    flex-direction: column-reverse;
    width: 100vw;
    height: 100vh;
    background-color: rgba(251, 248, 244, 1);
    background-position: top;
}

.Texto {
    color: rgb(106, 122, 120);
    font-size: 20px;
    text-align: left;
    padding-left: 2%;
}

.CapaConta {
    margin-top: -20%;
    background-image: url(./imgs/image\ 2.png);
    background-repeat: no-repeat;
    background-size:contain;
    display: flex;
    max-width: 100%;
    background-position: center;
    width: 100%;
    height: 50vh;
    min-height: 500px;
}

.MeusJogos {
    background-image: url(./imgs/group\ 16.png);
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    background-position: center;
    width: 100%;
    height: 50vh;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    background-color: rgba(75, 98, 108, 1);
}


.TituloJogos {
    color: rgb(89, 168, 158);
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 25px;
    height: 10%;
}



.CapaImg {


    width: 100%;
    height: 100%;
}

.Titulo {
    color: rgba(75, 98, 108, 1);
    text-align: center;
}

.Titulo2{
    text-align: center;
    color: rgba(75, 98, 108, 1);
}

.FormularioTodo {
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    height: 40%;

}

.FormularioTodo2 {
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    height: 40%;

}

.Formulario {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.Espaço {
    display: flex;
    width: 80%;
    justify-content: center;
}

.InputForm {
    width: 80%;
    border: none;
    background-color: rgba(239, 239, 239, 1);
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
    border-radius: 7%;
    color: rgb(106, 122, 120);
    font-size: 15px;
    padding: 1%;
}

.Continua {
    margin-top: 2%;
    border: none;
    width: 50px;
    height: 35px;
    background-image: url(./imgs/Arrow\ 1.png);
    background-size: cover;
}

.ContinuaTodo {
    display: flex;
    justify-content:right;
    margin-right: 18%;
    margin-top: 2%;
}

.Login {
    color: rgb(106, 122, 120);
    height: 30px;
    margin-bottom: 2%;
}

.LoginTodo {
    font-size: 19px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-left: 7%;
}

.LoginTodo2 {
    display: none;
    font-size: 19px;
    justify-content: start;
    padding-top: 15%;
    margin-left: 7%;
    padding-bottom: 2%;
}

.ContinuaTodo2 {
    display: none;
}

.BotãoCompra {
    background-image: url(./imgs/group\ 20.png);
    background-repeat: no-repeat;
    background-size:contain;
    width: 10%;
    height: 10%;
    display: flex;
    position: absolute;
    right: 5%;
    bottom: 10%;
}


.CampoBotões {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.BotãoContaTodo {
    display: flex;
    justify-content: center;
}

.Botão {
    color:  #ffffff;
    border-radius: 8%;
    width: 23%;
    border: none;
    background-color: #4B626C;
    display: flex;
    padding-left: 8px;
    justify-content: center;
}

#delete {
    display: flex;
    align-items: center;
    margin-top: -3px;
}

#create {
    display: flex;
    align-items: center;
    margin-top: -3px;
}

.ContinuaTodoR {
    display: flex;
    justify-content:right;
    margin-right: 9%;
    margin-top: 0;

}

.LoginTodo2m {
    display: none;
    flex-direction: column;
    transform: translate(0, 60%);
    
}




