.BarraComentarios {
    color: rgb(106, 122, 120);
    border: 1px solid rgb(99, 98, 98);
    overflow: auto;
    font-size: 11px;
    display: grid;
    width: 100%;
    padding-left: 2%;
    padding-right: 2%;
    background-color: rgb(50, 53, 52);
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 10%
}

#person {
    display: flex;
    border-radius: 20%;
    background-color: #eee;
    width: 24px;
}