  /* Comentario */

  .ComentarioTodo {
    height: 120px;
    display: flex;
    flex-direction: row-reverse;
  }

  .InputComentario {
    height: 20px;
    background-color: #4B626C;
    border: none;
    border-radius: 8%;
    margin-top: 0px;
  }

  .BotãoComentario {
    display: flex;
    margin-left: 68%;
    height: 15px;
    width: 43px;
    border: none;
    border-radius: 10%;
    background-color: #97A4A2;
  }